/*Other*/
/*Fonts*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #90ACCB;
  color: #121212;
  -webkit-transition: 0.5s ease background-color,color;
  transition: 0.5s ease background-color,color;
  font-family: 'Noto Sans SC', sans-serif;
  color: #121212;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  /*font-family: 'Noto Serif', serif;npm*/
}

body a {
  text-decoration: none;
  color: #0C1134;
}

body h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 10px;
}

body h2 {
  font-size: 1.75rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}

body .textHighlight {
  color: white;
}

body .App {
  /*background: white;*/
  -webkit-transition: 0.2s ease background-color;
  transition: 0.2s ease background-color;
  margin: auto;
}

body .App ::-moz-selection {
  color: rgba(255, 183, 197, 0.87);
  background: #0C1134;
}

body .App ::selection {
  color: rgba(255, 183, 197, 0.87);
  background: #0C1134;
}

body .App .background {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

body .App .background .hishi {
  position: absolute;
  max-width: 500px;
  width: 40%;
  pointer-events: none;
  left: 0;
  top: 0;
}

body .App .background .seigaiha {
  position: absolute;
  max-width: 500px;
  width: 40%;
  pointer-events: none;
  right: 0;
  bottom: 0;
}

body .App .background svg {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-dasharray: 15 5;
  /*stroke-dashoffset: 50; 0 - 100 range */
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

body .App header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body .App header .headWrap {
  width: 100%;
  max-width: 768px;
  padding: 15px;
  margin: auto;
  position: relative;
}

body .App header .headWrap .logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 25px;
  width: 75px;
  height: 75px;
}

body .App header .headWrap .logo svg {
  width: 75px;
  height: 75px;
}

body .App header .headWrap .logo svg polygon {
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

body .App header .headWrap .links {
  padding-top: 95px;
}

body .App header .headWrap .links a {
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 20px;
  margin: 0 15px;
  font-size: 1.2rem;
  color: #121212;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

body .App header .headWrap .links a:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-left: 2px solid #121212;
  border-bottom: 2px solid #121212;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body .App header .headWrap .links a:hover:after {
  bottom: -10px;
}

body .App header .headWrap .links a.active {
  color: white;
  pointer-events: none;
}

body .App header .headWrap .links a.active:after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  bottom: -5px;
}

body .App header .headWrap .socLinks {
  width: 170px;
  position: absolute;
  top: 15px;
  right: 5px;
  text-align: right;
}

body .App header .headWrap .socLinks svg {
  fill: #121212;
  -webkit-transition: 0.3s ease fill;
  transition: 0.3s ease fill;
}

body .App header .headWrap .socLinks a {
  margin: 0 10px;
}

body .App header .headWrap .socLinks a:last-of-type {
  margin-right: 0;
}

body .App header .headWrap .socLinks a:hover svg {
  fill: white;
}

body .App header .headWrap .darkWrap {
  width: 170px;
  position: absolute;
  top: 15px;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App header .headWrap .darkWrap i svg {
  vertical-align: middle;
  fill: #0C1134;
  -webkit-transition: 0.4s ease fill;
  transition: 0.4s ease fill;
}

body .App header .headWrap .darkWrap i.darkIcon svg {
  fill: white;
}

body .App header .headWrap .darkWrap:hover i.lightIcon svg {
  fill: #ffb7c5;
}

body .App header .headWrap .darkWrap .modeToggle {
  width: 42px;
  height: 26px;
  border-radius: 13px;
  margin: 0 10px;
  border: none;
  background: #0C1134;
  cursor: pointer;
}

body .App header .headWrap .darkWrap .modeToggle .toggleInner {
  position: relative;
  margin: 3px;
  width: 38px;
  height: 20px;
}

body .App header .headWrap .darkWrap .modeToggle .toggleInner .toggleCircle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App header .headWrap .darkWrap .modeToggle .toggleInner .toggleCircle:after {
  content: '';
  display: block;
  width: 8px;
  height: 0;
  border-top: 1px #0C1134 solid;
  border-bottom: 1px #0C1134 solid;
}

body .App header .headWrap .darkWrap.dark i.darkIcon svg {
  fill: #90ACCB;
}

body .App header .headWrap .darkWrap.dark i.lightIcon svg {
  fill: #ffb7c5;
}

body .App header .headWrap .darkWrap.dark:hover i.darkIcon svg {
  fill: white;
}

body .App header .headWrap .darkWrap.dark .modeToggle {
  background: #90ACCB;
}

body .App header .headWrap .darkWrap.dark .modeToggle .toggleInner .toggleCircle {
  left: calc(100% - 22px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: rgba(255, 183, 197, 0.87);
}

body .App header .headWrap .darkWrap.dark .modeToggle .toggleInner .toggleCircle:after {
  border-top: 1px #90ACCB solid;
  border-bottom: 1px #90ACCB solid;
}

body .App main {
  padding-top: 220px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

body .App main .transition-group {
  position: relative;
}

body .App main .fade-enter {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.01;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

body .App main .fade-enter.fade-enter-active {
  opacity: 1;
}

body .App main .fade-exit {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.3s ease, transform 0.4s ease;
  transition: opacity 0.3s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

body .App main .fade-exit.fade-exit-active {
  opacity: 0.01;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

body .App footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body .App footer .footNote {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.87);
}

body .App footer .footNote .highlight {
  font-size: 0.9rem;
  color: #0C1134;
}

body.dark {
  background-color: #0C1134;
  color: rgba(255, 255, 255, 0.87);
  color: rgba(255, 255, 255, 0.87);
}

body.dark a {
  color: rgba(255, 183, 197, 0.87);
}

body.dark .textHighlight {
  color: rgba(255, 183, 197, 0.87);
}

body.dark .App {
  /*background: $dark-grey;*/
}

body.dark .App ::-moz-selection {
  color: white;
  background: #90ACCB;
}

body.dark .App ::selection {
  color: white;
  background: #90ACCB;
}

body.dark .App header .links {
  padding-top: 95px;
}

body.dark .App header .links a {
  color: rgba(255, 255, 255, 0.87);
}

body.dark .App header .links a:after {
  content: '';
  margin: auto;
  width: 0px;
  height: 0px;
  bottom: -2px;
  border-top: 8px solid rgba(255, 255, 255, 0.87);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body.dark .App header .links a.active {
  color: rgba(255, 183, 197, 0.87);
}

body.dark .App header .links a.active:after {
  border-top: 8px solid rgba(255, 183, 197, 0.87);
  border-left: 9px solid transparent;
  border-bottom: none;
}

body.dark .App header .socLinks svg {
  fill: rgba(255, 255, 255, 0.87);
}

body.dark .App header .socLinks a:hover svg {
  fill: rgba(255, 183, 197, 0.87);
}

body.dark .App footer .footNote {
  color: rgba(255, 183, 197, 0.87);
}

body.dark .App footer .footNote .highlight {
  color: #90ACCB;
}

body.dark .background svg {
  stroke: #ffb7c5;
}
/*# sourceMappingURL=index.css.map */