/*Other*/
$light-indigo: #7294C1;
$dark-indigo: #0C1134;
$dark-grey: #121212;
$blossom: #ffb7c5;

/*Fonts*/
$font-dark: rgba(255,255,255,0.87);
$font-mid-dark: rgba(255,255,255,0.6);
$font-light-dark: rgba(255,255,255,0.38);
$blossom-translucent: rgba(255, 183, 197, 0.87);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    /*font-family: 'Noto Serif', serif;npm*/
  }

body {
  background-color: $light-indigo;
  color: $dark-grey;
  transition: 0.5s ease background-color;

  .background {
    .topLeft {
      position: fixed;
      top: 0;
      left: 0;
      width: 40vw;

      svg {
        fill: none;
        stroke: $font-dark;
        stroke-width: 2px;
        stroke-dasharray: 15 5;
        /*stroke-dashoffset: 50; 0 - 100 range */
      }
    }
  }

  .App {
    /*background: white;*/
    transition: 0.2s ease background-color;
    margin: auto;
  }

  &.dark {
    background-color: $dark-indigo;
    color: $font-dark;
    
    .App {
      /*background: $dark-grey;*/
    }

    .socLinks {
      svg {
        fill: $font-dark;
      }
    }
    
    .background {
      svg {
        stroke: $blossom-translucent;
      }
    }
  }

  .socLinks {
    a {
      margin: 0 10px;
    }
  }
}

a {
  text-decoration: none;
}

    