/*Other*/
$light-indigo: #90ACCB;
$dark-indigo: #0C1134;
$dark-grey: #121212;
$blossom: #ffb7c5;

/*Fonts*/
$font-dark: rgba(255,255,255,0.87);
$font-mid-dark: rgba(255,255,255,0.6);
$font-light-dark: rgba(255,255,255,0.38);
$blossom-translucent: rgba(255, 183, 197, 0.87);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: $light-indigo;
  color: $dark-grey;
  transition: 0.5s ease background-color,color;
  font-family: 'Noto Sans SC', sans-serif;
  color: $dark-grey;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  /*font-family: 'Noto Serif', serif;npm*/

  a {
    text-decoration: none;
    color: $dark-indigo
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 10px;
  }
 
  h2 {
    font-size: 1.75rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
  }

  .textHighlight {
    color: white;
  }

  .App {
    /*background: white;*/
    transition: 0.2s ease background-color;
    margin: auto;

    ::-moz-selection {
      color: $blossom-translucent;
      background: $dark-indigo;
    }
    
    ::selection {
      color: $blossom-translucent;
      background: $dark-indigo;
    }

    .background {
      pointer-events: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
  
      .hishi {
        position: absolute;
        max-width: 500px;
        width: 40%;
        pointer-events: none;
        left: 0;
        top: 0;
      }
      
      .seigaiha {
        position: absolute;
        max-width: 500px;
        width: 40%;
        pointer-events: none;
        right: 0;
        bottom: 0;
      }
  
      svg {
        fill: none;
        stroke: white;
        stroke-width: 2px;
        stroke-dasharray: 15 5;
        /*stroke-dashoffset: 50; 0 - 100 range */
        transition: 0.6s ease all;
      }
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      
      .headWrap {
        width: 100%;
        max-width: 768px;
        padding: 15px;
        margin: auto;
        position: relative;

        .logo {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 25px;
          width: 75px;
          height: 75px;
    
          svg {
            width: 75px;
            height: 75px;
            polygon {
              transition: 0.6s ease all;
            }
          }
        }
    
        .links {
          padding-top: 95px;
          
          a {
            display: inline-block;
            text-transform: uppercase;
            padding: 15px 20px;
            margin: 0 15px;
            font-size: 1.2rem;
            color: $dark-grey;
            letter-spacing: 2px;
            position: relative;
            transition: 0.4s ease all;

            &:after {
              content: '';
              position: absolute;
              bottom: 0px;
              left: 0;
              right: 0;
              margin: auto;
              width: 10px;
              height: 10px;
              border-left: 2px solid $dark-grey;
              border-bottom: 2px solid $dark-grey;
              transform: rotate(-45deg);
              transition: 0.3s ease all;
            }
            
            &:hover:after {
              bottom: -10px;
            }

            &.active {
              color: white;
              pointer-events: none;
              
              &:after {
                border-left: 2px solid white;
                border-bottom: 2px solid white;
                bottom: -5px;
              }
            }
          }
        }
    
        .socLinks {
          width: 170px;
          position: absolute;
          top: 15px;
          right: 5px;
          text-align: right;
          
          svg {
            fill: $dark-grey;
            transition: 0.3s ease fill;
          }

          a {
            margin: 0 10px;
            
            &:last-of-type {
              margin-right: 0;
            }
              
            &:hover {
              svg {
                fill: white;
              }
            }
          }
        }

        .darkWrap {
          width: 170px;
          position: absolute;
          top: 15px;
          left: 5px;
          display: flex;
          align-items: center;

          i {
            svg {
              vertical-align: middle;
              fill: $dark-indigo;
              transition: 0.4s ease fill;
            }

            &.darkIcon svg {
              fill: white;
            }
          }

          &:hover {
            i {
              &.lightIcon svg {
                fill: $blossom;
              }
            }
          }

          .modeToggle {  
            width: 42px;
            height: 26px;
            border-radius: 13px;
            margin: 0 10px;
            border: none;
            background: $dark-indigo;
            cursor: pointer;

            .toggleInner {
              position: relative;
              margin: 3px;
              width: 38px;
              height: 20px;
  
              .toggleCircle {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: white;
                transition: 0.4s ease all; 
                text-align: left;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                &:after {
                  content: '';
                  display: block;
                  width: 8px;
                  height: 0;
                  border-top: 1px $dark-indigo solid;
                  border-bottom: 1px $dark-indigo solid;
                }
              }
            }
          }

          &.dark {
              
            i {
              &.darkIcon svg{
                fill: $light-indigo;
              }

              &.lightIcon svg{
                fill: $blossom;
              }
            }

            &:hover {
              i {
                &.darkIcon svg{
                  fill: white;
                }
              }
            }

            .modeToggle {  
              background: $light-indigo;

              .toggleInner {
                .toggleCircle {
                  left: calc(100% - 22px);
                  transform: rotate(180deg);
                  background: $blossom-translucent;
                  &:after {
                    border-top: 1px $light-indigo solid;
                    border-bottom: 1px $light-indigo solid;
                  }
                }
              } 
            }
          }
        }
      }
    }

    main {
      padding-top: 220px;
      max-width: 1024px;
      width: 100%;
      margin: auto;

      .transition-group {
        position: relative;
      }

      .fade-enter {
        transition: all 0.6s ease;
        opacity: 0.01;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
      }
      .fade-enter.fade-enter-active {
        opacity: 1;
      }
      .fade-exit {
        transition: opacity 0.3s ease, transform 0.4s ease;
        opacity: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
      }
        
      .fade-exit.fade-exit-active {
        opacity: 0.01;
        transform: scale(0.1);
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      
      .footNote {
        font-size: 0.7rem;
        color: $font-dark;
        .highlight {
          font-size: 0.9rem;
          color: $dark-indigo; 
        }
      }
    }
  }

  &.dark {
    background-color: $dark-indigo;
    color: $font-dark;
    color: $font-dark;
    
    a {
      color: $blossom-translucent;
    }

    .textHighlight {
      color: $blossom-translucent;
    }

    .App {
      /*background: $dark-grey;*/

      ::-moz-selection {
        color: white;
        background: $light-indigo;
      }
      
      ::selection {
        color: white;
        background: $light-indigo;
      }

      header {
        .links {
          padding-top: 95px;
          
          a {
            color: $font-dark;

            &:after {
              content: '';
              margin: auto;
              width: 0px;
              height: 0px;
              bottom: -2px;
              border-top: 8px solid $font-dark;
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
              border-bottom: none;
              transform: rotate(0deg);
            }
            
            &.active {
              color: $blossom-translucent;
              
              &:after {
                border-top: 8px solid $blossom-translucent;
                border-left: 9px solid transparent;
                border-bottom: none;
              }
            }
          }
        }

        .socLinks {
          svg {
            fill: $font-dark;
          }

          a:hover {
            svg {
              fill: $blossom-translucent;
            }
          }
        }
      }

      footer {
        .footNote {
          color: $blossom-translucent; 
          .highlight {
            color: $light-indigo; 
          }
        }
      }
    }
    
    .background {
      svg {
        stroke: $blossom;
      }
    }
  }
}
